
.btn {
    background-color:$mainBlue;
    color: #ffffff;
    padding: .75rem 1.2rem;
    text-decoration: none;
    font-weight:300;
    display:inline-block;

    &--orange {
        background:$mainOrange;
    }

      &--large {
            padding:1rem 1.2rem;
            
            @mixin atSmall {
                font-size:1.25rem;
            }
        }      

}

